In [1]:
#Task2 ask user to enter any  two values
#display multiplication 
a=int(input("enter a value"))
b=int(input("enter a value"))
mul=a*b
print("mul:",mul)

mul: 25

In [2]:
name="ram" #string
age=12   #integer
gpa=3.2  #float
student=True #boolean

print(type(name))
print(type(age))
print(type(gpa))
print(type(student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [3]:
#Type of casting
age=float(age)
print(age)

12.0

In [4]:
a=3
b=2
c=a/b
c=int(c)
d=complex(c)
print('result:',c)
print('result:',d)
e=str(d)
f="santos"
g=e+f
print('result:',g)

result: 1
result: (1+0j)
result: (1+0j)santos

In [5]:
#addition
x=5
y=2
x=x+y #overwrite
print(x)

7

In [6]:
#another method to add
x=5
y=2
x+=y 
print(x)

7

In [7]:
#subtraction
x=5
y=2
x-=y 
print(x)

3

In [8]:
#multiplication
x=5
y=2
x*=y 
print(x)

10

In [9]:
#division
x=5
y=2
x/=y 
print(x)

2.5

In [10]:
#floor division
x=5
y=2
x//=y 
print(x)

2

In [11]:
#modulus
x=5
y=2
x%=y 
print(x)

1

In [12]:
x=7
y=9
# ==
print(x==y)

# !=
print(x!=y)

# >
print(x<y)

# >
print(x>y)

# >=
print(x<=y)

# >=
print(x>=y)

False
True
True
False
True
False

In [13]:
x=10
y=14
z=25
print(x<y or x<z)
print(not(x<y or x<z))
print(x>y or x>z)
print(x<y and x<z)
print(x>y and z<y)
print(y<z>x)

True
False
False
True
False
True

# Python Tuples

In [25]:
tuple=(1,2,3,4,5,5)
print(type(tuple))

<class 'tuple'>

In [19]:
print(tuple[0])
print(len(tuple))

1
5

In [26]:
# tuple.append(50)
# print(tuple)
print(tuple.index(4))
print(tuple.count(5))

3
2

In [29]:
#in and not in are the membership checking operator
Football=["Messi","Neymar","Suarez","Ter Stegen"]
print("Messi"in Football)
print("messi" in Football)
print("neymar" not in Football)
print("Argentina" in Football)

True
False
True
False

In [42]:
one="aayan"
two="aryan"
three="sushant"
prabhat="prabhat"
all=["aayan","aryan","sushant","prabhat"]
check=one in all
print(check)
print(two in all or one in all)
print(three not in all)
print("sushant" not in all)

True
True
False
False

In [68]:
#sets: collection of well defined object 
#unchangeable (but add and remove) un indexing unordered
set5={"hi","hello","namaste"}
print(type(set5))
print(set5)
# print(set[1])
set5.add("bye")
print(set)

<class 'set'>
{'namaste', 'hello', 'hi'}
{'namaste', 'bye', 'hello', 'hi'}

In [69]:
set1={1,1,2,2,4,5}
print(set1)

{1, 2, 4, 5}

In [2]:
list1=[1,1,2,2,4,5]
my_set= set(list1)
print(my_set)

{1, 2, 4, 5}